## Wks 11-12 Assignment
## Lincoln Brown
## DSC540-T301 
## Professor Williams

In [1]:
# Import libraries
import pandas as pd
import sqlite3

## Step 1
Connect to the petsDB and check whether the connection has been successful

In [9]:
# Create a function to check the status of the database connection
def check_connection(conn):
    try:
        conn.cursor()
        print("Connection Sucessful")
    except Exception as e:
        print("Connection Failed")

In [102]:
# Connect to the database and verify it is connected 
with sqlite3.connect("petsdb") as conn:
    cursor = conn.cursor()
    check_connection(conn)

Connection Sucessful

In [20]:
# View the tables
# Print persons DB
persons_rows = cursor.execute("SELECT * FROM persons")
col_names = list(map(lambda x: x[0], cursor.description))
print(col_names)
for row in persons_rows:
    print(row)

['id', 'first_name', 'last_name', 'age', 'city', 'zip_code']
(1, 'Erica', None, 22, 'south port', 2345678)
(2, 'Jordi', None, 73, 'east port', 123456)
(3, 'Chasity', None, 70, 'new port', 76856785)
(4, 'Gregg', None, 31, 'new port', 76856785)
(5, 'Tony', 'Lindgren', 7, 'west port', 2345678)
(6, 'Cary', None, 73, 'new port', 76856785)
(7, 'Gabe', 'Thompson', 54, 'new port', 9756543)
(8, 'Francisca', None, 14, 'west port', 123456)
(9, 'Katelyn', 'Torphy', 49, 'east port', 9756543)
(10, 'Raleigh', None, 68, 'new port', 2345678)
(11, 'Maria', None, 42, 'west port', 123456)
(12, 'Mariane', None, 62, 'south port', 9756543)
(13, 'Mona', None, 44, 'south port', 76856785)
(14, 'Kayla', None, 36, 'south port', 2345678)
(15, 'Karlie', None, 35, 'west port', 123456)
(16, 'Morris', None, 71, 'west port', 76856785)
(17, 'Sandy', None, 23, 'east port', 2345678)
(18, 'Hector', None, 63, 'east port', 9756543)
(19, 'Hiram', None, 52, 'west port', 2345678)
(20, 'Tressa', None, 59, 'new port', 123456)
(21, 'Berry', None, 22, 'south port', 2345678)
(22, 'Pearline', None, 73, 'new port', 9756543)
(23, 'Maynard', None, 25, 'east port', 123456)
(24, 'Dorian', None, 40, 'east port', 123456)
(25, 'Mylene', None, 5, 'east port', 76856785)
(26, 'Lafayette', None, 34, 'new port', 2345678)
(27, 'Friedrich', 'Wunsch', 48, 'east port', 9756543)
(28, 'Domenica', 'Lakin', 13, 'west port', 76856785)
(29, 'Tara', None, 39, 'west port', 123456)
(30, 'Destiny', None, 18, 'south port', 2345678)
(31, 'Lesly', None, 31, 'west port', 123456)
(32, 'Perry', None, 19, 'south port', 76856785)
(33, 'Keyon', 'Upton', 51, 'south port', 123456)
(34, 'Jacquelyn', 'Bradtke', 54, 'south port', 123456)
(35, 'Maritza', None, 73, 'east port', 9756543)
(36, 'Ivory', 'Sawayn', 8, 'south port', 76856785)
(37, 'Grant', None, 61, 'east port', 76856785)
(38, 'Salma', 'Terry', 71, 'west port', 123456)
(39, 'Laury', None, 17, 'east port', 9756543)
(40, 'Name', None, 52, 'east port', 9756543)
(41, 'Estefania', None, 32, 'new port', 76856785)
(42, 'Destiney', None, 65, 'west port', 2345678)
(43, 'Jaquelin', None, 73, 'west port', 9756543)
(44, 'Brenda', 'Murray', 62, 'south port', 2345678)
(45, 'Alfonzo', None, 16, 'east port', 2345678)
(46, 'Lisandro', None, 11, 'new port', 76856785)
(47, 'Lurline', 'Becker', 24, 'west port', 76856785)
(48, 'Timmothy', 'Tillman', 12, 'new port', 76856785)
(49, 'Priscilla', None, 65, 'east port', 76856785)
(50, 'Elenora', None, 11, 'new port', 76856785)
(51, 'Wendell', 'Sauer', 39, 'south port', 76856785)
(52, 'Rudolph', None, 14, 'east port', 76856785)
(53, 'Gabriella', 'Kertzmann', 30, 'south port', 76856785)
(54, 'Citlalli', 'Pollich', 18, 'west port', 2345678)
(55, 'Dax', 'Romaguera', 23, 'west port', 123456)
(56, 'Ona', None, 35, 'east port', 9756543)
(57, 'Rebeca', None, 50, 'new port', 76856785)
(58, 'Lou', 'Bradtke', 71, 'south port', 2345678)
(59, 'Sigurd', None, 12, 'west port', 76856785)
(60, 'Nicklaus', 'Purdy', 72, 'new port', 2345678)
(61, 'Destiney', 'Sauer', 24, 'west port', 2345678)
(62, 'Cassidy', 'Crona', 18, 'east port', 123456)
(63, 'Alice', None, 8, 'west port', 76856785)
(64, 'Dane', None, 24, 'west port', 9756543)
(65, 'Judge', None, 17, 'south port', 76856785)
(66, 'Allene', None, 9, 'new port', 9756543)
(67, 'Jalen', None, 33, 'new port', 2345678)
(68, 'Aniyah', 'Grant', 27, 'new port', 9756543)
(69, 'Ashton', 'Schaden', 25, 'west port', 2345678)
(70, 'Myron', None, 36, 'new port', 9756543)
(71, 'Presley', 'Gleason', 58, 'new port', 9756543)
(72, 'Ephraim', 'Kihn', 67, 'south port', 123456)
(73, 'Travon', None, 16, 'south port', 2345678)
(74, 'Shayna', None, 60, 'new port', 2345678)
(75, 'Myah', None, 14, 'east port', 2345678)
(76, 'Sammy', 'Franecki', 53, 'south port', 76856785)
(77, 'Ebba', 'Kihn', 34, 'west port', 2345678)
(78, 'Leilani', 'Gislason', 53, 'south port', 123456)
(79, 'Isabel', 'Beier', 74, 'west port', 2345678)
(80, 'Jo', 'DuBuque', 68, 'west port', 76856785)
(81, 'Angel', 'Mraz', 37, 'west port', 123456)
(82, 'Letha', None, 44, 'new port', 9756543)
(83, 'Lily', 'Hegmann', 12, 'east port', 123456)
(84, 'Felton', None, 74, 'east port', 2345678)
(85, 'London', None, 66, 'east port', 9756543)
(86, 'Koby', None, 31, 'west port', 9756543)
(87, 'Golden', None, 35, 'east port', 76856785)
(88, 'Elfrieda', 'Nikolaus', 36, 'west port', 2345678)
(89, 'Anissa', None, 8, 'south port', 76856785)
(90, 'Mathew', 'Luettgen', 71, 'east port', 2345678)
(91, 'Sid', None, 22, 'west port', 123456)
(92, 'Micheal', 'Schuppe', 6, 'west port', 9756543)
(93, 'Joanie', 'Cassin', 68, 'new port', 76856785)
(94, 'Jerad', 'Pfeffer', 74, 'west port', 123456)
(95, 'Benjamin', 'Lowe', 51, 'south port', 9756543)
(96, 'Ernesto', None, 69, 'east port', 9756543)
(97, 'Josianne', None, 14, 'west port', 76856785)
(98, 'Hilma', 'Waelchi', 48, 'east port', 9756543)
(99, 'Otilia', 'Gleason', 66, 'new port', 9756543)
(100, 'Adrian', 'Schinner', 5, 'south port', 76856785)

In [21]:
# Print pets DB
pets_rows = cursor.execute("SELECT * FROM pets")
col_names = list(map(lambda x: x[0], cursor.description))
print(col_names)
for row in pets_rows:
    print(row)

['owner_id', 'pet_name', 'pet_type', 'treatment_done']
(57, 'mani', 1.0, 0)
(80, 'tamari', None, 0)
(25, 'raba', None, 0)
(27, 'olga', None, 0)
(60, 'raba', None, 0)
(37, 'dara', 1.0, 0)
(33, 'chegal', 1.0, 0)
(16, 'dara', None, 0)
(100, 'chegal', None, 0)
(46, 'raba', None, 1)
(21, 'tamari', 1.0, 0)
(94, 'snoopy', 1.0, 1)
(100, 'bulga', None, 1)
(5, 'fenga', None, 0)
(24, 'palu', None, 0)
(16, 'fenga', 1.0, 1)
(48, 'snoopy', None, 0)
(27, 'gimir', 1.0, 0)
(67, 'raba', None, 0)
(31, 'chegal', 1.0, 1)
(14, 'unsa', 1.0, 0)
(40, 'sapi', None, 0)
(25, 'bhukbhuk', None, 0)
(42, 'dara', None, 0)
(45, 'sami', None, 1)
(27, 'bulga', 1.0, 0)
(20, 'olga', None, 0)
(8, 'chegal', None, 0)
(45, 'nani', 1.0, 0)
(56, 'deru', None, 0)
(64, 'milu', 1.0, 0)
(2, 'mani', 1.0, 0)
(36, 'dara', None, 0)
(89, 'sapi', None, 0)
(28, 'mani', 1.0, 0)
(95, 'deru', None, 0)
(26, 'mani', None, 1)
(60, 'helu', 1.0, 0)
(10, 'snoopy', 1.0, 0)
(25, 'milu', None, 0)
(6, 'milu', 1.0, 0)
(31, 'fenga', None, 0)
(18, 'deru', None, 0)
(6, 'deru', 1.0, 1)
(35, 'milu', None, 0)
(42, 'deru', None, 1)
(21, 'chegal', None, 1)
(83, 'olga', None, 0)
(69, 'raba', 1.0, 1)
(88, 'chegal', 1.0, 0)
(13, 'gimir', None, 0)
(82, 'unsa', 1.0, 1)
(27, 'unsa', None, 0)
(38, 'raba', None, 0)
(23, 'snoopy', 1.0, 1)
(71, 'bulga', None, 0)
(64, 'palu', 1.0, 0)
(43, 'tamari', None, 0)
(79, 'gimir', None, 0)
(9, 'gimir', None, 0)
(98, 'bulga', 1.0, 1)
(43, 'helu', None, 0)
(10, 'nani', 1.0, 0)
(33, 'tamari', None, 0)
(32, 'gimir', 1.0, 0)
(37, 'helu', None, 0)
(28, 'fenga', None, 0)
(57, 'mani', 1.0, 0)
(97, 'palu', 1.0, 1)
(38, 'sami', 1.0, 0)
(81, 'milu', 1.0, 0)
(2, 'gimir', 1.0, 0)
(68, 'gimir', None, 1)
(99, 'milu', None, 1)
(7, 'olga', 1.0, 0)
(3, 'tamari', None, 1)
(40, 'palu', 1.0, 0)
(27, 'bulga', 1.0, 0)
(85, 'milu', None, 0)
(9, 'palu', 1.0, 0)
(15, 'nani', 1.0, 0)
(98, 'sami', None, 0)
(90, 'mani', 1.0, 1)
(41, 'mani', 1.0, 1)
(35, 'dara', 1.0, 1)
(13, 'dara', 1.0, 0)
(12, 'unsa', None, 0)
(99, 'helu', None, 0)
(56, 'unsa', None, 1)
(91, 'unsa', None, 0)
(7, 'unsa', None, 0)
(53, 'sami', 1.0, 1)
(33, 'helu', None, 0)
(17, 'palu', 1.0, 0)
(86, 'milu', 1.0, 0)
(64, 'chegal', None, 1)
(53, 'chegal', None, 0)
(14, 'chegal', 1.0, 0)
(20, 'fenga', 1.0, 0)
(49, 'sami', 1.0, 0)
(51, 'bulga', None, 0)
(1, 'raba', None, 1)
(51, 'bhukbhuk', 1.0, 0)
(18, 'milu', None, 0)
(99, 'snoopy', 1.0, 0)
(57, 'snoopy', None, 1)
(21, 'mani', 1.0, 0)
(39, 'sapi', None, 0)
(84, 'chegal', None, 1)
(5, 'dara', 1.0, 0)
(47, 'sapi', None, 0)
(98, 'helu', 1.0, 0)
(2, 'tamari', None, 1)
(37, 'nani', None, 0)
(39, 'dara', None, 0)
(37, 'sami', None, 0)
(50, 'bulga', 1.0, 0)
(50, 'milu', None, 0)
(35, 'chegal', None, 0)
(5, 'dara', None, 0)
(40, 'chegal', None, 0)
(42, 'snoopy', None, 0)
(58, 'sapi', 1.0, 0)
(73, 'olga', None, 1)
(58, 'sapi', 1.0, 0)
(43, 'palu', None, 0)
(36, 'snoopy', 1.0, 0)
(11, 'fenga', None, 0)
(56, 'milu', None, 1)
(56, 'sapi', None, 1)
(60, 'bhukbhuk', 1.0, 0)
(7, 'helu', None, 1)
(56, 'olga', None, 0)
(10, 'sapi', 1.0, 1)
(24, 'fenga', None, 1)
(55, 'tamari', None, 0)
(67, 'palu', None, 0)
(44, 'sami', 1.0, 0)
(93, 'palu', 1.0, 0)
(50, 'tamari', None, 0)
(49, 'fenga', 1.0, 0)
(40, 'milu', 1.0, 0)
(48, 'nani', 1.0, 0)
(51, 'bhukbhuk', None, 0)
(77, 'sami', 1.0, 1)
(86, 'fenga', 1.0, 0)
(87, 'palu', 1.0, 0)
(26, 'snoopy', 1.0, 0)
(36, 'nani', 1.0, 0)
(22, 'helu', 1.0, 1)

## Step 2 
Find the different age groups in the persons database

In [36]:
# Get the number of people belonging to each age group
age_groups = cursor.execute("SELECT count(*), age FROM persons GROUP BY age")
for count, age in age_groups:
    print(f"There are {count} people aged {age}")

There are 2 people aged 5
There are 1 people aged 6
There are 1 people aged 7
There are 3 people aged 8
There are 1 people aged 9
There are 2 people aged 11
There are 3 people aged 12
There are 1 people aged 13
There are 4 people aged 14
There are 2 people aged 16
There are 2 people aged 17
There are 3 people aged 18
There are 1 people aged 19
There are 3 people aged 22
There are 2 people aged 23
There are 3 people aged 24
There are 2 people aged 25
There are 1 people aged 27
There are 1 people aged 30
There are 3 people aged 31
There are 1 people aged 32
There are 1 people aged 33
There are 2 people aged 34
There are 3 people aged 35
There are 3 people aged 36
There are 1 people aged 37
There are 2 people aged 39
There are 1 people aged 40
There are 1 people aged 42
There are 2 people aged 44
There are 2 people aged 48
There are 1 people aged 49
There are 1 people aged 50
There are 2 people aged 51
There are 2 people aged 52
There are 2 people aged 53
There are 2 people aged 54
There are 1 people aged 58
There are 1 people aged 59
There are 1 people aged 60
There are 1 people aged 61
There are 2 people aged 62
There are 1 people aged 63
There are 2 people aged 65
There are 2 people aged 66
There are 1 people aged 67
There are 3 people aged 68
There are 1 people aged 69
There are 1 people aged 70
There are 4 people aged 71
There are 1 people aged 72
There are 5 people aged 73
There are 3 people aged 74

## Step 3 
Find the age group that has the maximum number of people

In [43]:
# Get the age group that has the most people 
max_group = cursor.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC")
for count, age in max_group:
    print(f"The age that has the most people is {age} with {count} people")
    break

The age that has the most people is 73 with 5 people

## Step 4
Find the people who do not have a last name

In [90]:
# Find the people whose last name is null
no_lastname = cursor.execute("SELECT * FROM persons WHERE persons.last_name IS null")
for person in no_lastname:
    print(person)

(1, 'Erica', None, 22, 'south port', 2345678)
(2, 'Jordi', None, 73, 'east port', 123456)
(3, 'Chasity', None, 70, 'new port', 76856785)
(4, 'Gregg', None, 31, 'new port', 76856785)
(6, 'Cary', None, 73, 'new port', 76856785)
(8, 'Francisca', None, 14, 'west port', 123456)
(10, 'Raleigh', None, 68, 'new port', 2345678)
(11, 'Maria', None, 42, 'west port', 123456)
(12, 'Mariane', None, 62, 'south port', 9756543)
(13, 'Mona', None, 44, 'south port', 76856785)
(14, 'Kayla', None, 36, 'south port', 2345678)
(15, 'Karlie', None, 35, 'west port', 123456)
(16, 'Morris', None, 71, 'west port', 76856785)
(17, 'Sandy', None, 23, 'east port', 2345678)
(18, 'Hector', None, 63, 'east port', 9756543)
(19, 'Hiram', None, 52, 'west port', 2345678)
(20, 'Tressa', None, 59, 'new port', 123456)
(21, 'Berry', None, 22, 'south port', 2345678)
(22, 'Pearline', None, 73, 'new port', 9756543)
(23, 'Maynard', None, 25, 'east port', 123456)
(24, 'Dorian', None, 40, 'east port', 123456)
(25, 'Mylene', None, 5, 'east port', 76856785)
(26, 'Lafayette', None, 34, 'new port', 2345678)
(29, 'Tara', None, 39, 'west port', 123456)
(30, 'Destiny', None, 18, 'south port', 2345678)
(31, 'Lesly', None, 31, 'west port', 123456)
(32, 'Perry', None, 19, 'south port', 76856785)
(35, 'Maritza', None, 73, 'east port', 9756543)
(37, 'Grant', None, 61, 'east port', 76856785)
(39, 'Laury', None, 17, 'east port', 9756543)
(40, 'Name', None, 52, 'east port', 9756543)
(41, 'Estefania', None, 32, 'new port', 76856785)
(42, 'Destiney', None, 65, 'west port', 2345678)
(43, 'Jaquelin', None, 73, 'west port', 9756543)
(45, 'Alfonzo', None, 16, 'east port', 2345678)
(46, 'Lisandro', None, 11, 'new port', 76856785)
(49, 'Priscilla', None, 65, 'east port', 76856785)
(50, 'Elenora', None, 11, 'new port', 76856785)
(52, 'Rudolph', None, 14, 'east port', 76856785)
(56, 'Ona', None, 35, 'east port', 9756543)
(57, 'Rebeca', None, 50, 'new port', 76856785)
(59, 'Sigurd', None, 12, 'west port', 76856785)
(63, 'Alice', None, 8, 'west port', 76856785)
(64, 'Dane', None, 24, 'west port', 9756543)
(65, 'Judge', None, 17, 'south port', 76856785)
(66, 'Allene', None, 9, 'new port', 9756543)
(67, 'Jalen', None, 33, 'new port', 2345678)
(70, 'Myron', None, 36, 'new port', 9756543)
(73, 'Travon', None, 16, 'south port', 2345678)
(74, 'Shayna', None, 60, 'new port', 2345678)
(75, 'Myah', None, 14, 'east port', 2345678)
(82, 'Letha', None, 44, 'new port', 9756543)
(84, 'Felton', None, 74, 'east port', 2345678)
(85, 'London', None, 66, 'east port', 9756543)
(86, 'Koby', None, 31, 'west port', 9756543)
(87, 'Golden', None, 35, 'east port', 76856785)
(89, 'Anissa', None, 8, 'south port', 76856785)
(91, 'Sid', None, 22, 'west port', 123456)
(96, 'Ernesto', None, 69, 'east port', 9756543)
(97, 'Josianne', None, 14, 'west port', 76856785)

# Step 5
Find out how many people have more than one pet

In [91]:
# We have to use HAVING here because aggregate functions don't work with WHERE clauses
number_of_pets = cursor.execute("SELECT count(*) FROM  (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) > 1)")

for num in number_of_pets:
    print(f"There are {num[0]} people who have more than one pet.")

There are 43 people who have more than one pet.

# Step 6 
Find out how many pets have received treatment

In [93]:
# Used not zero to leave room for other values than just 1
received_treatment = cursor.execute("SELECT count(*) FROM pets WHERE treatment_done IS NOT 0")

for num in received_treatment:
    print(f"{num[0]} pets have received treatment")

36 pets have received treatment

## Step 7 
Find out how many pets have received treatment and the type of pet is known

In [97]:
# Used is not null to check for pet type
received_treatment_type = cursor.execute("SELECT count(*) FROM pets WHERE treatment_done IS NOT 0 and pet_type IS NOT NULL")

for num in received_treatment_type:
    print(f"{num[0]} pets of a known type have received treatment")

16 pets of a known type have received treatment

## Step 8 
Find out how many pets are from the city called east port

In [98]:
# Had to join the two databases to perform this query
east_port_pets = cursor.execute("SELECT count(*) FROM  pets JOIN persons on pets.owner_id = persons.id WHERE persons.city = 'east port'")

for num in east_port_pets:
    print(f"There are {num[0]} pets from east port")

There are 49 pets from east port

## Step 9
Find out how many pets are from the city called east port and who received a treatment

In [101]:
# Used a join and is not 0 to check pet type
east_port_treatments = cursor.execute("SELECT count(*) FROM pets JOIN persons on pets.owner_id = persons.id where persons.city = 'east port' AND pets.treatment_done IS NOT 0 ")

for num in east_port_treatments:
    print(f"There are {num[0]} pets from east port that have received treatment")

There are 11 pets from east port that have received treatment